  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="file:///Macintosh HD/Users/Ragnar/assets/ico/favicon.ico">
  <title>About</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/home.css" rel="stylesheet">
  <link href="../../static/css/about.css" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="bootstrap-3.1.1-dist/jumbotron.css" rel="stylesheet">
  
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  
  <body>
  
  <!-- top panel -->
  <div class="top">
	<div class="logo">
    <div class="container">
     <a href="home.html">	
     <img src="../../static/logo.jpg" alt="RMD Logo">
      </a>
    </div>
    </div>
  </div>
  
  <!-- this is the red separator between the banner area and main content area -->
  <div class="border">
  </div>
  
  <!--main content panel where user profile and most functionality is displayed -->
    <div class="container">
	<div class="about-container">
			<div class="about-rmd">
				<h3>What's it all about?</h3>
				<ul>
				<p>
				<li>Rate My Demo is a platform for unsigned artists to get noticed.</li>
				<li>If you're a solo musician, in a band, or even just a casual listener, there's something here for everyone.</li>
				<li>Experience our randomiser function - we give you 5 random tracks of unsigned music. Don't like them? Hit randomise again for more!</li>
				</p>
                </ul>
			</div>
			<br>
			<br>
			<div class="approach-rmd">
				<h3>What's our approach?</h3>
				<ul>
				<p>
				<li>We don't like spam, you don't like spam. We present a platform that allows you to listen, vote, and favourite.</li>
				<li>If you're a musician, benefit from honest streamlined feedback with no bias.</li>
				<li>We're passionate about promoting true unsigned talent. You won't find any big names or established artists here, just a place to showcase new, 					emerging talent.</li>
				</p>
                </ul>
			</div>
			<br>
			<br>
			<div class="join-us">
				<h2>So what are you waiting for? Join us!</h2>
                <br>
                <br>
                	<div class="button-group">
						<div class="controls">
						<a href = "/Rate_my_Demo/home/"><button type="button" class="btn" >Home</button></a>
                        <a href = "/Rate_my_Demo/register_page/"><button type="button" class="btn" >Register</button></a>
                        </div>
					</div>
			</div>
	</div>
	</div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="/Rate_my_Demo/about_page/">About</a> <a class="navbar-brand" href="/Rate_my_Demo/contact/">Contact</a> </di>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
  <script src="file:///Macintosh HD/Users/Ragnar/dist/js/bootstrap.min.js"></script>
  </body>
  </html>
