  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>Artist Page</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/audioplayer.css" rel="stylesheet">
  <link href="../../static/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/css/grid.css" rel="stylesheet">
  <link href="../../static/css/player_buttons.css" rel="stylesheet">
  <link href="../../static/css/home.css" rel="stylesheet">
  <link href="../../static/css/artist.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]--> 
    
    <!-- JS -->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/js/jquery.jplayer.min.js"></script>

  </head>
  
  <body>
  
  <!-- top panel with logo -->
  <div class="top">
	<div class="logo">
    <div class="container">
    	<img src="../../static/logo.jpg" alt="RMD Logo">
    </div>
    </div>
  </div>
  
  <div class="border">
  </div>
  
  <!--main content panel where user profile and most functionality is displayed -->
   <div class="container">
  
   <!-- randomizer button -->
   <div class="randomizer">
  	 <span class="glyphicon glyphicon-refresh">
     </span>
   </div>
  
   <!-- side menu -->
   <div class="horizontal">
    <ul>
    <li><img border="0" src="{{ rate_my_demo_user.thumbnail.url }}" alt="image" width="100" height="100"></li>
    <li><div class="username">{{ rate_my_demo_user }}</div></li>
    <li><a href="/Rate_my_Demo/home">Home</a></li>
    <li><a href="/Rate_my_Demo/demos/">Demos</a></li>
    <li><a href="/Rate_my_Demo/favourites/">Favourites</a></li>
    <li><a href="/Rate_my_Demo/user_details/">Details</a></li>
    </ul>
   </div>
  
   <div class="button-group">
	 <div class="controls">
		<a href="/Rate_my_Demo/upload_page/" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
	 </div>	
  </div>
  
  <div class="logout">
       <a href="/Rate_my_Demo/logout/" ><button type="submit" class="btn"value="submit">Log out</button></a>
  </div>
  <!-- start of the grid layout for the demo selection -->
  <div class="grid">
  <div id="services" class="cf">

       {% for demo in demos %}

       <section class="service">
              <div class="service-icon"><span class="icon-graphic"></span><br/><img border="0" src="{{ demo.img.url }}" alt="{{ demo.name }}" width="100" height="100"></div>
              <div class="service-description">

                <div class="player_buttons">
                <a onclick="this.firstChild.play()"><audio src="{{ demo.docfile.url }}"></audio><span class="glyphicon glyphicon-play"></span></a>

                <form action="/Rate_my_Demo/artist/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                 <button type="submit" value="{{ demo }}" name="demo" class="glyphicon glyphicon-star"></button>
                 <input name="user" type="hidden" value="{{ rate_my_demo_user }}">



                </form>

               {{ demo.title }}
                </div>

              </div>
       </section>

       {% endfor %}


  </div>
  </div> <!-- END #services -->

    {% if uploaded %}
       "Demo successfully uploaded!"
    {% endif %}
  </div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="/Rate_my_Demo/about_page/">About</a> <a class="navbar-brand" href="/Rate_my_Demo/contact/">Contact</a> </div>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster -->  
  <script src="../../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/js/source-of-grid.js"></script>
  
  </body>
  </html>
