  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>Welcome to Rate My Demo</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/home.css" rel="stylesheet">
  <link href="../../static/css/grid.css" rel="stylesheet">
  <link href="../../static/css/player_buttons.css" rel="stylesheet">
  <link href="../../static/css/login.css" rel="stylesheet">
  
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]--> 
    
  </head>
  
  <body>
  
  <!-- top panel -->
  <div class="top">
	<div class="logo">
    <div class="container">
    	<img src="../../static/logo.jpg" alt="RMD Logo">
    </div>
    </div>
  </div>
  
  <div class="border">
  </div>
  
  <!--main content panel where user profile and most functionality is displayed -->
  <div class="container">
  
        <!-- randomizer button -->
  <div class="randomizer">
  	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
  </div>
  
	<div class="button-group">
		<div class="controls">
			<button type="submit" class="loginbutton"value="submit">Login</button>
		</div>
		<div class="controls">
			<button type="submit" class="registerbutton"value="submit">Register</button>
		</div>
	</div>
  
  <!-- start of the grid layout for the demo selection -->
  <div class="grid">
  <div id="services" class="cf">
        <section class="service">
              <div class="service-icon"><span class="icon-web"></span><br/>Info</div>
              <div class="service-description">
              	<div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
       <section class="service">
              <div class="service-icon"><span class="icon-graphic"></span><br/>Info</div>
              <div class="service-description">
                <div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
       <section class="service">
              <div class="service-icon"><span class="icon-logo"></span><br/>Info</div>
              <div class="service-description">
                <div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
       </br>
       <section class="service">
              <div class="service-icon"><span class="icon-dev"></span><br/>Info</div>
              <div class="service-description">
                <div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
       <section class="service">
              <div class="service-icon"><span class="icon-dev"></span><br/>Info</div>
              <div class="service-description">
                <div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
       <section class="service">
              <div class="service-icon"><span class="icon-dev"></span><br/>Info</div>
              <div class="service-description">
                <div class="player_buttons">
              	<span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
       </section>
	</div>
    </div> <!-- END #services -->
  	
  </div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="about.html">About</a> <a class="navbar-brand" href="contact.html">Contact</a></div>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster -->  
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="../../static/js/source-of-grid.js"></script>
  
  </body>
  </html>
