  <!DOCTYPE html>
  <html lang="en" xmlns="http://www.w3.org/1999/html"><head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../static/favicon.ico">
  <title>Welcome to Rate My Demo</title>
  
  <!-- Bootstrap & core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/css/grid.css" rel="stylesheet">
  <link href="../../static/css/player_buttons.css" rel="stylesheet">
  <link href="../../static/css/home.css" rel="stylesheet">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
  
  <body>
  
  <!-- top panel -->
  <div class="top">
	<div class="logo">
    <div class="container">
    	<img src="../../static/logo.jpg" alt="RMD Logo">
    </div>
    </div>
  </div>
  
  <div class="border">
  </div>
  
  <!--main content panel where user profile and most functionality is displayed -->
  <div class="container">

  <!-- randomizer button -->
  <div class="randomizer">
    <button type="button" class="randomizer" value="Refresh" onclick="history.go(0)">
  	    <span class="glyphicon glyphicon-refresh"></span>
     </button>
  </div>

  <!-- sidemenu buttons-->
	<div class="button-group">
        {% if user.is_authenticated %}
        <div class="controls">

			<a href = "/Rate_my_Demo/logout/"><button type="submit" class="btn"value="submit">Logout</button></a>
		</div>
        <div class="controls">
        <form form class="form-horizontal" action="{% url "check_usertype" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn"value="submit">Go to profile</button>
        </form>
	    </div>
        {% else %}
		<div class="controls">
			<a href = "/Rate_my_Demo/login_page/"><button type="submit" class="btn"value="submit">Login</button></a>
		</div>
		<div class="controls">
			<a href = "/Rate_my_Demo/register_page/"><button type="submit" class="btn"value="submit">Register</button></a>
		</div>

        {% endif %}
	</div>

  <!-- start of the grid layout for the demo selection -->
  <div class="grid">
  <div id="services" class="cf">

{% for demo in demos %}
    {% if forloop.counter <= 6 %}
       <section class="service">
              <div class="service-icon"><span class="icon-graphic"></span><br/><img border="10" src="{{ demo.img.url }}" alt="{{ demo.name }}" width="160" height="160"></div>
              <div class="service-description">

                <div class="player_buttons">

                <audio id="{{ demo.id }}" src="{{ demo.docfile.url }}"></audio>
                <a href="javascript:;" onclick="document.getElementById('{{ demo.id }}').play();">
                <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="javascript:;" onclick="document.getElementById('{{ demo.id }}').pause();">
                <span class="glyphicon glyphicon-pause"></span>
                </a>
                <div class="track_listing">
                {{ demo.title }}
                </div>

                </div>
              </div>
       </section>

    {% endif %}
 {% endfor %}

	</div>
    </div> <!-- END #services -->

  </div>

        <div class="chart">
        <ul>
             <div class="top_5"> TOP 5 </div>
        </br>
            {% for sort in sorts %}
            <li>
            <img border="10" src="{{ sort.img.url }}" alt="{{ demo.name }}" width="40" height="40">
            {{ sort.title }}
            ({{ sort.up }})
            </li>
            {% endfor %}
        </ul>
      </div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="/Rate_my_Demo/about_page/">About</a> <a class="navbar-brand" href="/Rate_my_Demo/contact/">Contact</a>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster -->  
  <script src="../../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/js/source-of-grid.js"></script>
  
  </body>
  </html>
