<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>
<head>
    <title>Rate My Demo</title>
</head>
    {% if user.is_authenticated %}
        <h1>Welcome to Rate my Demo {{ user.username }}!</h1>
    {% else %}
        <h1>Welcome to Rate my Demo!</h1>
{% endif %}
<body>
    <h2>This is the Rate my Demo Homepage</h2>
    {% if user.is_authenticated %}
<a href="/Rate_my_Demo/restricted/">Restricted Page</a><br />
<a href="/Rate_my_Demo/logout/">Logout</a><br />
<a href="/Rate_my_Demo/upload/">Logout</a><br />

{% else %}
<a href="/Rate_my_Demo/register/">Register Here</a><br />
<a href="/Rate_my_Demo/login/">Login</a><br />
{% endif %}

<a href="/rango/about/">About</a><br/>
    <img src="{% static "Stag.jpg" %}" alt="Hipster Stag" /><br /><!-- New line -->

</body>
</html>