  <!DOCTYPE html>
  <html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>Your Favourites</title>
  
  <!-- Bootstrap & core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/css/audioplayer.css" rel="stylesheet">
  <link href="../../static/css/player_buttons.css" rel="stylesheet">
  <link href="../../static/css/artist.css" rel="stylesheet">
  <link href="../../static/css/listener_tracksgrid.css" rel="stylesheet">
    
    
  <!-- Audio Player JS -->
    
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]--> 
  </head>
  
  <body>
  
  <!-- top panel -->
  <div class="top">
	<div class="logo">
    <div class="container">
    	<img src="../../static/logo.jpg" alt="RMD Logo">
    </div>
    </div>
  </div>
  
  <div class="border">
  </div>
  
  <!--main content panel where user profile and most functionality is displayed -->
  <div class="container">
  
     <!-- side menu -->
   <div class="horizontal">
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Favourites</a></li>
    <li><a href="#">Details</a></li>
    </ul>
   </div>
  
  <div class="logout">
       <button type="submit" class="btn"value="submit">Log out</button>
  </div>
 
  <div class="demogrid">
  	<div class="col-sm-1 col-md-6 col-lg-4">
    
    	<div class="thumbnail-slot">
        <button type="button" class="play">
        <span class=" glyphicon glyphicon-play"></span>
        </button>
        </div>
        
        <div class="track-info">INFO</div>
        <div class="votes"><span class="glyphicon glyphicon-arrow-up">Value<span class="glyphicon glyphicon-arrow-down">Value</span>
        </div>  
        
       	<div class="delete">
        <button type="button" class="delete">
        <span class=" glyphicon glyphicon-remove-circle"></span>
        </button>
        </div>
        
    </div>
  </div>
 
  </div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="about_page.html">About</a> <a class="navbar-brand" href="bootstrap-3.1.1-dist/contact.html">Contact</a>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
  <script src="../../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/js/source-of-grid.js"></script>
  
  </body>
  </html>
