  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../static/favicon.ico">
  <title>Welcome to Rate My Demo</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/home.css" rel="stylesheet">
  <link href="../../static/css/register.css" rel="stylesheet">
  

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  
  <body>
   {% if registered %}
        Rate My Demo says: <strong>thank you for registering!</strong>
        <a href="/Rate_my_Demo/">Return to the homepage.</a><br />
  {% else %}
  <!-- top panel -->
  <div class="top">
	<div class="logo">
    <div class="container">
     	<img src="../../static/logo.jpg" alt="RMD Logo">
    </div>
    </div>
  </div>
  
  <!-- this is the red separator between the banner area and main content area -->
  <div class="border">
  </div>

  <!--main content panel where user profile and most functionality is displayed -->
  <div class="container">
	<div class="form-area">
		    <form class="form-horizontal" id="form" method="post" action="/Rate_my_Demo/register_page/" enctype="multipart/form-data">
                {% csrf_token %}
				<div class="control-group">
					<label class="title-label" for="inputLocation">Choose a profile type</label>
                    <select class="combobox" name="usertype">
					<option>Usertype</option>
                    <option value="Artist">Artist</option>
					<option value="Listener">Listener</option>
					</select>
				</div>
				<br/>
    			<div class="username-group">
					<div class="controls">
						<input type="text" name="username" id="inputUsername" placeholder=" Username" autocomplete="off">
					</div>
				</div>
				<br/>
				<div class="password-group">
					<div class="controls">
						<input type="password" name="password" id="inputPassword" placeholder=" Password">
					</div>
				</div>
				<br/>
				<div class="email-group">
					<div class="controls">
							<input type="text" name="email" for="inputEmail" placeholder=" Email" autocomplete="off">
					</div>
				</div>
				<br/>
				<div class="location-group">
					<div class="controls">
							<input type="text" name="location" for="inputLocation" placeholder=" Location" autocomplete="off">
					</div>
				</div>
				<br/>
				<label class="browse-label" for="inputLocation">Choose a genre/mood</label>
				<select class="combobox" name="genre">
					<option>Genre</option>
                    <option value="Rock">Rock</option>
					<option value="Pop">Pop</option>
					<option value="Hip-Hop">Hip-Hop</option>
					<option value="Chillout">Chillout</option>
					<option value="Mood">Mood</option>
					<option value="Romance">Romance</option>
					<option value="Study">Study</option>
				</select>
				<div class="browse-group">
					<label class="browse-label" for="inputLocation">Choose a profile picture</label>
					<div class="controls">
					<div class="browse-btn">
						<input type="file" name="thumbnail" class="filestyle" data-input="false">
					</div>
					</div>
				</div>
				<br/>
				<div class="register-button">
					<div class="controls">
						<button type="submit" name="submit" value="Register" class="btn">Register</button>
					</div>
				</div>
			</form>
                        <a href ="/Rate_my_Demo/"><button type="button" class="btn" >Home</button></a>
	</div>
  </div>
  
  <!-- bottom navigation bar -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="/Rate_my_Demo/about_page/">About</a> <a class="navbar-brand" href="/Rate_my_Demo/contact/">Contact</a> </div>
	  </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript
      ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
  <script type="text/javascript">$(document).ready(function(){ $('.combobox').combobox();});</script>
 {% endif %}
  </body>
  </html>
