<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Upload your Demo!</title>
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if demos %}
			<ul>
			{% for demo in demos %}
			    Your uploaded demo: <li><a href="{{ demo.docfile.url }}">{{ demo.docfile.name }}</a></li>
                Your thumbnail: <li><a href="{{ demo.img.url }}">{{ demo.img.name }}</a></li>
            {% endfor %}



			</ul>
		{% else %}
			<p>No Demos.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>

				{{ form.docfile.errors }}
				{{ form.docfile }}
            <p> {{ form.img.label_tag }} {{ form.img.help_text }}</p>
                {{ form.img }}
            <p> {{ form.genre.label_tag }} {{ form.genre.help_text }}</p>
            <p> {{ form.genre }} </p>
            <p> {{ form.title.label_tag }} {{ form.title.help_text }}</p>
                {{ form.title }}
                {{ form.up }}
                {{ form.down }}

			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>

	</body>

</html> 