<!DOCTYPE html>
<html>
    <head>
        <title>Rate My Demo</title>
    </head>

    <body>
        <h1>Upload a new Demo!</h1>

            Rate My Demo says: <strong>Upload demo!</strong><br />

        <form id="demoform" action="Rate_my_Demo/upload" method="post" enctype="multipart/form-data">

            {% csrf_token %}
			<p>{{ demoform.non_field_errors }}</p>
			<p>{{ demoform.file.label_tag }} {{ demoform.file.help_text }}</p>
			<p>
				{{ demoform.file.errors }}
				{{ demoform.file }}
			</p>
			<p><input type="submit" value="UUUload" /></p>
		</form>

	</body>

</html>