@charset "UTF-8";
/* CSS Document - formatting and appearance for main compoenents body, top banner, logo, nav bar on the bottom */

body {
	background-color:#666;
}

.top {	
	background-color:#FFFFFF;
	width:auto;
	height:110px;	
}

.logo {
	position:relative;
	text-align:center;
	margin-left:-5px;
	margin-right:auto;
	margin-top:auto;
	display:block;
	width:100%;
	height:100%;
}

.navbar-header {
	float:left;
	padding:15px;
	text-align:center;
	width: 100%;
	color:#F00;
}

.navbar-brand {
	float:none;
	color:#C41212;
}

.border	{
	width:auto;
	height:4px;
	border-style:solid;
	border-color:#B01212;
}

a{
	color:#FFF;
	font-size:20px;
	} 

a:hover {
	text-decoration:underline;
	color:#FFF;
}

.horizontal	{
	width:20px;
	height:20px;
	margin-left:-12px;
	color:#FFF;
	margin-top:81px;
}

ul.horizontal	{
	margin:0;
	padding:0;
}

ul.horizontal li{
	display:block;
	float:left;
	padding:0 10px;
}

.btn 	{
	margin-top:141px;
    margin-bottom: -18px;
	margin-left: -975px;
	width:200px;
	background-color: hsl(0, 69%, 22%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111)); 
	background-image: -moz-linear-gradient(top, #b42121, #5e1111); 
	background-image: -ms-linear-gradient(top, #b42121, #5e1111); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111)); 
	background-image: -webkit-linear-gradient(top, #b42121, #5e1111); background-image: -o-linear-gradient(top, #b42121, #5e1111); 
	background-image: linear-gradient(#b42121, #5e1111); border-color: #5e1111 #5e1111 hsl(0, 69%, 17%); color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); 
	-webkit-font-smoothing: antialiased; 
	padding: 6px 40px;
}

.logout	{
	margin-top:-100px;
}

.demogrid	{
	margin-left:320px;
	margin-top:-316px;
    margin-bottom:350px ;
	color:#000;
	height:90px;
	width:500px;
	background-color:#C0C0C0;
	text-align:left;
}

.thumbnail-slot	{
	width:90px;
	margin-left:-15px;
	height:90px;
	background-color:#000;
}

.track-info	{
	margin-top:-70px;
	margin-left:90px;
}

.delete	{
	margin-top:-40px;
	margin-left:210px;
	font-size:40px;
	color:#B01212;
	border:none !important;
	outline:none;
	background:transparent;
}

.votes	{
	color:#B01212;
	width:300px;
	margin-left:80px;
	margin-top:10px;
}

.play	{
	font-size:20px;
	color:#FFF;
	border:none !important;
	outline:none;
	background:transparent;
	margin-top:-300px;
	margin-left:25px;
	opacity:0.8;
}

.glyphicon-play	{
	font-size:36px;
	margin-left:-5px;
}

.gridplay   {
    margin-top: -50px;
}

