@charset "UTF-8";
/* CSS Document - for all player buttons on grid as well as randomiz */

.player_buttons	{
	text-align:center;
	margin-left:15px;
}

.glyphicon-play	{
	font-size:36px;
	margin-left:-5px;
}

.glyphicon-refresh {
	font-size:40px;
	margin-top:20px;
	color:#FFF;
	margin-left:-10px;
}

.glyphicon-refresh:hover {
	font-size:40px;
	margin-top:20px;
	color:#FFF;
	margin-left:-10px;
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

.randomizer	{
	text-align:center;
	margin-top:0px;
}

.text_padding	{
	padding:30px;
}

.glyphicon-refresh-animate:hover	{
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2	{
	from {-webkit-transform:rotate(0deg);}
	to	{-webkit-transform:rotate(360deg);}
	
@keyframes spin	{
	from {transform:scale(1) rotate(0deg);}
	to	{transform:scale(1) rotate(360deg);}
}